.header-logo {
    display: inline-block;
    height: 80px;
    width: 192px;
    background: url('https://8.url.cn/edu/edu_modules/edu-ui/img/bg/logo192-3x.e89120ba.png#unsprite') no-repeat;
    background-size: 192px 80px;
}